body {
  text-align: center;
}

#table {
  margin: auto;
  width: 40%;
}

table td {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  height: 0.8vw;
  width: 0.8vw;
}

table td.live {
  background-color: black!important;
}
